@font-face {
    font-family: myFont;
    src: url(fonts/Morton.otf);
}
@font-face {
    font-family: myFont2;
    src: url(fonts/Acumin-RPro.otf);
}
body{
    background: rgb(180, 125, 145);
    height: 1640px;
}

#homebutton{
    height: 75px;
    width: 75px;
    position: absolute;
    left: 1.786%;
    top: 40px;
}
#homebutton:hover{
    box-shadow: 5px 5px 3px black;
    border-radius: 100%;
}
#title{
    font-family: 'myFont';
    position: absolute;
    left: 7.44%;
    top: 24px;
    font-size: 36px;
    color: white;
}
#book{
    height: 512px;
    width: 339.2px;
    position: absolute;
    left: 9.0%;
    top: 135px;
    box-shadow: 5px 5px 3px black;
}

#star1{
    height: 96.8px;
    width: 108px;
    position: absolute;
    top: 100px;
    left: 86.310%;
}
#star2{
    height: 96.8px;
    width: 108px;
    position: absolute;
    top: 225px;
    left: 86.310%;
}
#star3{
    height: 96.8px;
    width: 108px;
    position: absolute;
    top: 350px;
    left: 86.310%;
}
#star4{
    height: 96.8px;
    width: 108px;
    position: absolute;
    top: 475px;
    left: 86.310%;
}
#star5{
    height: 50.8px;
    width: 108px;
    position: absolute;
    top: 600px;
    left: 86.310%;
}

#summary{
    font-size: 17px;
    width: 800px;
    position: absolute;
    top: 135px;
    left: 33.333%;
    font-family: 'myFont2';
}
#reviewtitle{
    position: absolute;
    font-family: 'myFont';
    left: 33.333%;
    top: 265px; 
    color: white;
}
#review{
    width: 800px;
    font-size: 17px;
    position: absolute;
    top: 325px;
    left: 33.333%;
    font-family: 'myFont2';
}

#statstitle{
    position: absolute;
    font-family: 'myFont';
    left: 33.333%;
    top: 433px; 
    color: white;
}

#stat1{
    position: absolute;
    left: 33.333%;
    top: 490px; 
    font-family: 'myFont2';
    font-size: 17px;
}
#stat2{
    position: absolute;
    left: 33.333%;
    top: 520px; 
    font-family: 'myFont2';
    font-size: 17px;
}
#stat3{
    position: absolute;
    left: 33.333%;
    top: 550px; 
    font-family: 'myFont2';
    font-size: 17px;
}
#stat4{
    position: absolute;
    left: 33.333%;
    top: 580px; 
    font-family: 'myFont2';
    font-size: 17px;
}
#stat5{
    position: absolute;
    left: 33.333%;
    top: 610px; 
    font-family: 'myFont2';
    font-size: 17px;
}


/*animation https://devdojo.com/gscode/best-creative-10-pure-css-glitch-effect*/
#graphtitle{
    position: absolute;
    top: 870px;
    left: 44.76%;
    font-family: 'myFont';
    color: black;
    animation: glitch1 2.5s 5;
}
@keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
      color: #fff;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
      color: #fff;
    }
  }

#graphtitle:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s 5;
    opacity: 0;
  }
@keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

#graphtitle:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s 5;
    opacity: 0;
  }
@keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
      color: #f16f6f;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
      color: #f16f6f;
    }
  }

#horlabel{
    font-family: 'myFont';
    position: absolute;
    top: 1530px;
    left: 48.036%;
    color: black;
    animation: glitch4 2.5s 5;
}
@keyframes glitch4 {
    0% {
      transform: none;
      opacity: 1;
      color: #fff;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
      color: #fff;
    }
  }

#horlabel:nth-child(2) {
    color: #67f3da;
    animation: glitch5 2.5s 5;
    opacity: 0;
  }
@keyframes glitch5 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

#horlabel:nth-child(3) {
    color: #f16f6f;
    animation: glitch6 2.5s 5;
    opacity: 0;
  }
@keyframes glitch6 {
    0% {
      transform: none;
      opacity: 0.25;
      color: #f16f6f;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
      color: #f16f6f;
    }
  }
#vertlabel{
    font-family: 'myFont';
     /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-orientation */
    writing-mode: vertical-rl;
    position: absolute;
    top: 1090px;
    left: 15.595%;
    height: 350px;
    color: black;
    animation: glitch7 2.5s 5;
}
@keyframes glitch7 {
    0% {
      transform: none;
      opacity: 1;
      color: #fff;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
      color: #fff;
    }
  }

#vertlabel:nth-child(2) {
    animation: glitch9 2.5s 5;
    opacity: 0;
  }
@keyframes glitch8 {
    0% {
      transform: none;
      opacity: 0.25;
      color: #67f3da;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.3;
      color: #67f3da;
    }
  }

#vertlabel:nth-child(3) {
    animation: glitch8 2.5s 5;
    opacity: 0;
  }
@keyframes glitch9 {
    0% {
      transform: none;
      opacity: 0.25;
      color: #f16f6f;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
      color: #f16f6f;
    }
  }
#verticalgraph{
    background: black;
    position: absolute;
    left: 20.952%;
    top: 977px;
    width: 6px;
    height: 525px;
    animation: glitch10 2.5s 5;
}
@keyframes glitch10 {
    0% {
      transform: none;
      opacity: 1;
      background: #fff;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
      background: #fff;
    }
  }
#verticalgraph:nth-child(2) {
    background: #67f3da;
    animation: glitch11 2.5s 5;
    opacity: 0;
  }
  @keyframes glitch11 {
    0% {
      transform: none;
      opacity: 0.25;
      background: #67f3da;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.3;
      background: #67f3da;
    }
  }
#verticalgraph:nth-child(3) {
    animation: glitch12 2.5s 5;
    opacity: 0;
  }
  @keyframes glitch12 {
    0% {
      transform: none;
      opacity: 0.25;
      background: #f16f6f;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
      background: #f16f6f;
    }
  }
#horizontalgraph{
    background: black;
    position: absolute;
    left: 20.95%;
    top: 1502px;
    width: 62.5%;
    height: 6px;
    animation: glitch10 2.5s 5;
}
#horizontalgraph:nth-child(2) {
    background: #67f3da;
    animation: glitch12 2.5s 5;
    opacity: 0;
  }
#horizontalgraph:nth-child(3) {
    background: #f16f6f;
    animation: glitch11 2.5s 5;
    opacity: 0;
  }

@keyframes appear {
    0% {opacity: 0; }
    90% {opacity: 0;}
    99%{opacity: 1;}
}

#spoilers{
    width: 99.5%;
    text-align: center;
    font-family: 'myFont';
    position: absolute;
    top: 650px;
    color: white;
    text-decoration: underline;
    font-size: 30px;
}
#grexpl{
    width: 99.5%;
    text-align: center;
    font-family: 'myFont2';
    position: absolute;
    top: 765px;
    font-size: 18px;
}
.percentage{
    font-size: 18px;
}

/*graph*/
#horvalue1{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 26.964%;
    animation: appear 14s 1;
}
#hornum1{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 26.19%;
    animation: appear  14s 1;
}
#horvalue2{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 32.917%;
    animation: appear  14s 1;
}
#hornum2{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 32.321%;
    animation: appear  14s 1;
}
#horvalue3{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 38.869%;
    animation: appear  14s 1;
}
#hornum3{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 38.274%;
    animation: appear  14s 1;
}
#horvalue4{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 44.821%;
    animation: appear  14s 1;
}
#hornum4{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 44.226%;
    animation: appear  14s 1;
}
#horvalue5{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 50.774%;
    animation: appear  14s 1;
}
#hornum5{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 50.179%;
    animation: appear  14s 1;
}
#horvalue6{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 56.726%;
    animation: appear  14s 1;
}
#hornum6{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 56.131%;
    animation: appear  14s 1;
}
#horvalue7{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 62.679%;
    animation: appear  14s 1;
}
#hornum7{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 62.083%;
    animation: appear  14s 1;
}
#horvalue8{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 68.631%;
    animation: appear  14s 1;
}
#hornum8{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 68.036%;
    animation: appear  14s 1;
}
#horvalue9{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 74.583%;
    animation: appear  14s 1;
}
#hornum9{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 73.988%;
    animation: appear  14s 1;
}
#horvalue10{
    height: 20px;
    width: 3px;
    background: black;
    position: absolute;
    top: 1496px;
    left: 80.536%;
    animation: appear  14s 1;
}
#hornum10{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1496px;
    left: 79.762%;
    animation: appear  14s 1;
}
#vertvalue1{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1453px;
    left: 20.595%;
    animation: appear  14s 1;
}
#vertnum1{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1422px;
    left: 19.643%;
    animation: appear  14s 1;
}
#vertvalue2{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1403px;
    left: 20.595%;
    animation: appear  14s 1;
}
#vertnum2{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1372px;
    left: 19.643%;
    animation: appear  14s 1;
}
#vertvalue3{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1353px;
    left: 20.595%;
    animation: appear  14s 1;
}
#vertnum3{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1322px;
    left: 19.643%;
    animation: appear  14s 1;
}
#vertvalue4{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1303px;
    left: 20.595%;
    animation: appear  14s 1;
}
#vertnum4{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1272px;
    left: 19.643%;    
    animation: appear  14s 1;
}
#vertvalue5{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1253px;
    left: 20.595%;
    animation: appear  14s 1;
}
#vertnum5{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1222px;
    left: 19.643%;
    animation: appear  14s 1;
}
#vertvalue6{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1203px;
    left: 20.595%;
    animation: appear  14s 1;
}
#vertnum6{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1172px;
    left: 19.643%;
    animation: appear  14s 1;
}
#vertvalue7{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1153px;
    left: 20.595%;
    animation: appear  14s 1;
}
#vertnum7{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1122px;
    left: 19.643%;
    animation: appear  14s 1;
}
#vertvalue8{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1103px;
    left: 20.595%;
    animation: appear  14s 1;
}
#vertnum8{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1072px;
    left: 19.643%;
    animation: appear  14s 1;
}
#vertvalue9{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1053px;
    left: 20.595%;
    animation: appear  14s 1;
}
#vertnum9{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 1022px;
    left: 19.643%;
    animation: appear  14s 1;
}
#vertvalue10{
    width: 20px;
    height: 3px;
    background: black;
    position: absolute;
    top: 1003px;
    left: 20.595%;
    animation: appear  14s 1;
}
#vertnum10{
    position: absolute;
    font-family: 'myfont';
    font-size: 18px;
    top: 972px;
    left: 19.048%;
    animation: appear  14s 1;
}


.graph.stn1{
    opacity: 0.15;
}
.graph.stn2{
    opacity: 0.15;
}
.graph.stn3{
    opacity: 0.15;
}
.graph.stn4{
    opacity: 0.15;
}
.graph.stn5{
    opacity: 0.15;
}
.graph.stn6{
    opacity: 0.15;
}
.graph.stn7{
    opacity: 0.15;
}
.graph.stn8{
    opacity: 0.15;
}
.graph.stn9{
    opacity: 0.15;
}
.graph.stn10{
    opacity: 0.15;
}
.graph.stn11{
    opacity: 0.15;
}
.graph.stn12{
    opacity: 0.15;
}
.graph.stn13{
    opacity: 0.15;
}
.graph.stn14{
    opacity: 0.15;
}
.graph.stn15{
    opacity: 0.15;
}
#stn1{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1445.5px;
    left: 27.083%;
    animation: appear 15s 1;
}
#stn1:hover{
    opacity: 1;
}
#sky1{
    position: absolute;
    top: 1427px;
    left: 28.971%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn2{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1170.5px;
    left: 31.845%;
    animation: appear 15s 1;
}
#stn2:hover{
    opacity: 1;
}
#sky2{
    position: absolute;
    top: 1141px;
    left: 33.73%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn3{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1145.5px;
    left: 33.631%;
    animation: appear 15s 1;
}
#stn3:hover{
    opacity: 1;
}
#sky3{
    position: absolute;
    top: 1127px;
    left: 35.519%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn4{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1195.5px;
    left: 35.417%;
    animation: appear 15s 1;
}
#stn4:hover{
    opacity: 1;
}
#sky4{
    position: absolute;
    top: 1177px;
    left: 37.305%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn5{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1095.5px;
    left: 38.988%;
    animation: appear 15s 1;
}
#stn5:hover{
    opacity: 1;
}
#sky5{
    position: absolute;
    top: 1077px;
    left: 40.876%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn6{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1120.5px;
    left: 43.75%;
    animation: appear 15s 1;
}
#stn6:hover{
    opacity: 1;
}
#sky6{
    position: absolute;
    top: 1102px;
    left: 45.638%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn7{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1070.5px;
    left: 46.131%;
    animation: appear 15s 1;
}
#stn7:hover{
    opacity: 1;
}
#sky7{
    position: absolute;
    top: 1052px;
    left: 48.019%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn8{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1245.5px;
    left: 59.821%;
    animation: appear 15s 1;
}
#stn8:hover{
    opacity: 1;
}
#sky8{
    position: absolute;
    top: 1205px;
    left: 61.710%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn9{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1045.5px;
    left: 62.202%;
    animation: appear 15s 1;
}
#stn9:hover{
    opacity: 1;
}
#sky9{
    position: absolute;
    top: 1027px;
    left: 64.09%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn10{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1095.5px;
    left: 64.583%;
    animation: appear 15s 1;
}
#stn10:hover{
    opacity: 1;
}
#sky10{
    position: absolute;
    top: 1066px;
    left: 66.471%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn11{ 
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1045.5px;
    left: 67.560%;
    animation: appear 15s 1;
}
#stn11:hover{
    opacity: 1;
}
#sky11{
    position: absolute;
    top: 1016px;
    left: 69.448%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn12{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1020.5px;
    left: 68.155%;
    animation: appear 15s 1;
}
#stn12:hover{
    opacity: 1;
}
#sky12{
    position: absolute;
    top: 1002px;
    left: 70.043%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn13{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 995.5px;
    left: 75.298%;
    animation: appear 15s 1;
}
#stn13:hover{
    opacity: 1;
}
#sky13{
    position: absolute;
    top: 977px;
    left: 77.186%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn14{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1145.5px;
    left: 77.083%;
    animation: appear 15s 1;
}
#stn14:hover{
    opacity: 1;
}
#sky14{
    position: absolute;
    top: 1127px;
    left: 78.971%;
    color: white;
    opacity: 0;
    width: 350px;
}
#stn15{
    height: 20px;
    width: 22px;
    position: absolute;
    top: 1070.5px;
    left: 77.679%;
    animation: appear 15s 1;
}
#stn15:hover{
    opacity: 1;
}
#sky15{
    position: absolute;
    top: 1052px;
    left: 79.567%;
    color: white;
    opacity: 0;
    width: 340px;
}
